@import './base.css';

@font-face {
  font-family: 'DINPro';
  src: url('/fonts/DINPro.ttf');
}

@font-face {
  font-family: 'EchoRevival';
  src: url('/fonts/19180.otf');
}

@font-face {
  font-family: 'stsev851-78';
  src: url('/fonts/stsev851-78.ttf');
}

#app {
  font-family: DINPro, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(236, 247, 90, 0.404);
  user-select: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.base-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.my-button {
  border-width: 1px;
  border-style: solid;
  border-color: #fb9d23;
  background: white;
  font-size: 100%;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 3px grey;
  min-width: 125px;
  padding: 8px 0;
  margin: 4px;
}

.my-button:hover {
  background: #fb9d23;
  color: white;
  box-shadow: none;
}

.region {
  fill: white;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.5;
  transition-duration: 1s;
}

.region.red {
  fill: red;
}

.region.green {
  fill: green;
}

.region.blue {
  fill: blue;
}

.region.highlight {
  stroke: rgb(235, 195, 14);
  stroke-width: 4;
  fill: chartreuse;
}

/* .region:hover {
  cursor: pointer;
  fill: #afa;
  stroke: #faa;
  stroke-width: 4;
} */

.sea {
  fill: #c7eafb;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.5;
}

.state-border {
  fill: none;
  stroke: #a9a3a1;
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-dasharray: 3.9918;
}

.geo-lines {
  fill: none;
  stroke: #00aeef;
  stroke-miterlimit: 10;
}

.map-frame {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
